body{
    background-color: white;
    font-family: 'Times New Roman', Times, sans-serif;
    text-align: center;
    margin: 0px;
}

.head1{
    background-image: url(../images/bg-4.jpg);
    background-position: top, center;
    height: 700px;
    margin-top: 0px;
    margin-bottom: 30px;
    border-top: 0.5px solid transparent;
}

.titulo1{
    text-align: center;
    margin-top: 100px;
    text-transform: uppercase;
    line-height: 150px;
    color: white;
    text-shadow: 3px 3px 3px black;
}

.sub1{
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,.5);
    border-bottom: 2px solid white;
    padding: 10px;
    display: inline-block;
    margin: auto;
}

.head1 ul{
    text-align: right;
}

.head1 li{
    display: inline-block;
    margin: 10px;
    background-color: rgba(0,0,0,.5);
    border: 2px solid white;
    text-transform: uppercase;
    color: aliceblue;
}

.head1 nav a{
    text-decoration: none;
    color:aliceblue;
    display: block;
    padding: 5px;
}

.head1 nav a:hover{
    background: rgba(0, 0, 0, 0.5);
}
.img{
    width: 33%;
    float: left;
    margin-bottom: 50px;
}

.img p{
    background-color: black;
    border: 3px solid white;
    color: white;
    display: block;
    padding: 15px;
}
.article{
    margin-top: 30px;
    clear: both;
}

.article h1{
    text-align: left;
    background-color: white;
    border: 5px solid black;
    padding: 20px;
}

.article p{
    text-align: left;
    background-color: white; 
    border: 5px solid black;
    padding: 15px;
}

footer{
    background-color: rgb(160, 156, 156);
    padding: 25px;
    margin: 0;
    font-size: 20px;
    text-shadow: 3px 3px 3px;
}